body {
    background-color: #E0FFFF;
}

h2 {
    color: rgb(76, 226, 151);
}

h3 {
    color: rgb(76, 226, 151);
}

hr {
    border-color: #4169E1;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: none;
    width: 10%;
}

img {
    height: 150px;
}